# A9

In [10]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib as mpl
import matplotlib.pyplot as plt
import statsmodels.api as sm

In [11]:
df = pd.read_csv('antropometria-dataset.csv')
df

,folio,intp,entidad,desc_ent,sexo,edad,meses,peso,ropa,talla,...,hpresion,tbrazo,htension,PrimaryLast,code_upm,est_dis,est_urb,est_marg,pondef,est_var
0,210295,2,21,PUEBLA,2,38,8,73.70,2,146.40,...,16:30,2,16:35,1,R2101,5,3,1,3470.002176,215
1,101655,3,10,DURANGO,2,11,11,35.65,2,145.10,...,15:25,3,15:25,1,M1041,1,1,1,417.946672,101
2,10287,6,1,AGUASCALIENTES,2,18,8,54.80,1,162.00,...,9:40,1,9:40,1,M0108,5,3,1,472.980811,15
3,91526,4,9,DISTRITO FEDERAL,1,10,8,33.40,2,146.50,...,7:40,3,7:45,1,M0931,4,3,2,1832.581391,94
4,210939,3,21,PUEBLA,2,19,3,97.95,2,161.00,...,6:00,2,6:00,1,M2123,5,3,1,7622.066564,215
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
18635,300116,2,30,VERACRUZ DE IGNACIO DE LA LLAVE,2,73,11,75.80,1,141.15,...,18:00,1,18:05,1,R3002,5,3,1,7615.607749,305
18636,40253,1,4,CAMPECHE,2,75,0,69.40,1,144.80,...,18:40,1,18:40,1,M0408,5,3,1,195.314670,45
18637,301099,1,30,VERACRUZ DE IGNACIO DE LA LLAVE,1,86,7,46.75,2,149.20,...,8:00,3,23:00,1,M3024,2,1,2,1758.912979,302
18638,250801,1,25,SINALOA,2,72,7,59.05,2,142.50,...,6:02,3,6:02,1,M2512,3,2,1,2354.581350,253
18639,11786,2,1,AGUASCALIENTES,2,71,8,80.00,2,150.65,...,13:50,3,13:00,1,M0143,2,1,2,591.847039,12

In [12]:
df.columns

Index(['folio', 'intp', 'entidad', 'desc_ent', 'sexo', 'edad', 'meses', 'peso',
       'ropa', 'talla', 'emb', 'temb', 'cintura', 'cadera', 'sistol',
       'diastol', 'hpresion', 'tbrazo', 'htension', 'PrimaryLast', 'code_upm',
       'est_dis', 'est_urb', 'est_marg', 'pondef', 'est_var'],
      dtype='object')

In [13]:
vars = ['diastol','sistol','edad', 'peso','cintura', 'cadera']
df = df[vars].dropna()
df

       diastol  sistol  edad   peso  cintura  cadera
0        53.25   63.25    38  73.70    98.70   106.0
1        50.00   70.00    11  35.65    64.00    75.0
2        41.00   70.50    18  54.80    67.60    94.3
3        64.00   71.00    10  33.40    60.60    72.2
4        53.50   72.00    19  97.95   113.00   127.0
...        ...     ...   ...    ...      ...     ...
18635    95.50  221.00    73  75.80    93.00   113.0
18636    78.00  222.25    75  69.40   103.05   113.7
18637    66.00  230.00    86  46.75    71.35    86.0
18638   100.00  235.00    72  59.05    99.95    94.8
18639   150.00  240.00    71  80.00   108.15   120.0

[18032 rows x 6 columns]

In [14]:
df[vars].corr()

          diastol    sistol      edad      peso   cintura    cadera
diastol  1.000000  0.662332  0.344207  0.361438  0.362961  0.296613
sistol   0.662332  1.000000  0.535053  0.355847  0.403265  0.307012
edad     0.344207  0.535053  1.000000  0.318568  0.478879  0.340062
peso     0.361438  0.355847  0.318568  1.000000  0.791677  0.777061
cintura  0.362961  0.403265  0.478879  0.791677  1.000000  0.863396
cadera   0.296613  0.307012  0.340062  0.777061  0.863396  1.000000

In [15]:
model = sm.OLS.from_formula ('diastol ~ sistol + edad + peso + cintura',
                            data = df)
result = model.fit()

In [16]:
y=result.resid
y.median()

-0.0021017816189328187